.hcontainer {
    display: flex;
}
.divL, .divR {
    box-sizing: border-box;
    padding: 10px;
}
.divL {
    background: #ccfffa;
    /* OPTIONAL WIDTH
    width: 40% */
    width: 60%
}
.divR {
    background: #ccfffa;
    /* OPTIONAL WIDTH
    width: 60% */
}
.leaflet-container {
    width: 100%;
    height: 400px;
}

.chart {
    background: #ffffff;
    /*height: 300px;*/
}

.group {
    background: #2e907c;
    padding: 10px;
    border: #282c34;
    border-style: solid;
    border-radius: 4px;
}
.subgroup {
    background: #4ebba5;
    padding: 10px;
    border: #282c34;
    border-style: solid;
    border-radius: 4px;
}